#hello {
	color: red;
}
.email{
	color: dimgrey;
}
.liste_contacts {
	padding-left: 10px;
}
.logo_contact{
	background: olivedrab;
	border-radius: 45%;
	font-size: 30px;
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: center;
	padding-top: 10px;
}

.contact_name{
	display: inline-block;
	margin-left: 10px;
}

.contact{
	padding: 10px;
}

.contact:hover{
	background: lightgray;
}